@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Special+Elite&family=VT323&display=swap');

/* font-family: 'Luckiest Guy', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'VT323', monospace; */


/* colour variables */

body, html, #root, .app {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevents scrollbars */
}
:root {
  --border-color: #7c7c7c;
  --border-accent: #fff;
  --transition-speed: all 0.1s;

/* background colours */
  --background-primary: #99a0ff;
  --background-gradient-1: hsla(307, 66%, 62%, 1);
  --background-gradient-2: hsla(74, 94%, 69%, 1);
  --background-gradient-3: hsla(145, 93%, 79%, 1);
  --background-gradient-4: hsla(353, 86%, 77%, 1);
  --background-gradient-5: hsla(152, 69%, 73%, 1);
  --background-gradient-6: hsla(187, 88%, 65%, 1);
  --background-gradient-7: hsla(304, 70%, 74%, 1);

  --footer-background: #e2e2e2;
  --button-background: #f5f5f5;
  --button-hover-background: #efefef;
  --window-background: #c0c0c0;
  --window-content-background: #dddddd;
  --window-toolbar-background: #002b66;
  --window-text: #fff;
  --toolbar-button-background: #ccc;
  --toolbar-button-hover-background: #e0e0e0;
  --hr-color: #797979;
}

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-color:var(--background-primary);
  background-image:
  radial-gradient(at 9% 4%, var(--background-gradient-1) 0px, transparent 50%),
  radial-gradient(at 3% 16%, var(--background-gradient-2) 0px, transparent 50%),
  radial-gradient(at 78% 88%, var(--background-gradient-3) 0px, transparent 50%),
  radial-gradient(at 35% 59%, var(--background-gradient-4) 0px, transparent 50%),
  radial-gradient(at 81% 60%, var(--background-gradient-5) 0px, transparent 50%),
  radial-gradient(at 97% 11%, var(--background-gradient-6) 0px, transparent 50%),
  radial-gradient(at 83% 10%, var(--background-gradient-7) 0px, transparent 50%);
  background-attachment: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -999;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 18px;
  background: none;
}
::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}
::-webkit-scrollbar-thumb {
  width: 16px;
  height: 16px;
  background: var(--toolbar-button-background);
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: var(--border-accent) var(--border-color) var(--border-color) var(--border-accent);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--toolbar-hover-background); 
}

.app {
  padding-bottom: 3rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: .2rem 0;
  background-color: var(--footer-background);
  z-index: 0;

}
.start-menu {
  position: relative;
}

.start-menu-dropdown {
  display: none;
}


.start-menu-dropdown-show {
  position: absolute;
  left: -5px;
  bottom: 39px;
  height: min-content;
  min-width: 250px;
  background: var(--window-toolbar-background);
  border: 2px solid var(--border-color);
  border-top-color: var(--border-accent);
  border-left-color: var(--border-accent);
  z-index: 999;

  .title {
    position: absolute;
    transform: rotate(-90deg);
    color: white;
    bottom: 125px;
    left: -108px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    span {
      font-weight: 100;
      padding-left: 5px;
      
    }
  }

  ul {
    position: relative;
    background: var(--window-background);
    padding: .5rem 5px;
    margin: 0;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  li {
    padding: 10px;
    padding-left: 50px;
    list-style: none;
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 28px;

    &.windows-update {
      background-image: url(https://68.media.tumblr.com/f33cc852028056f5c3f41daa4ba007c3/tumblr_odq9qssnET1vgs7gco1_75sq.png);
    }
    &.programs {
      background-image: url(https://66.media.tumblr.com/49ed6c0ebac47753e08e85c230d97d03/tumblr_odqaag4zd41vgs7gco2_75sq.png);
    }
    &.favorites {
      background-image: url(https://66.media.tumblr.com/2d4a1593f0a13df6d507304708e11a7f/tumblr_odqaag4zd41vgs7gco1_75sq.png);
    }
    &.documents {
      background-image: url(https://66.media.tumblr.com/6ee194172c15584561b951ff258d9d1d/tumblr_odqaag4zd41vgs7gco3_75sq.png);
    }
    &.settings {
      background-image: url(https://66.media.tumblr.com/83833fe1b6ac3b482a89ff02aad3ed15/tumblr_odqaag4zd41vgs7gco9_75sq.png);
    }
    &.find {
      background-image: url(https://68.media.tumblr.com/d4f271116e0f67b79c64f2a1aac6488e/tumblr_odqaag4zd41vgs7gco8_75sq.png);
    }
    &.help {
      background-image: url(https://67.media.tumblr.com/f269281536842a64ec1a35479ca8fdd3/tumblr_odqaag4zd41vgs7gco5_75sq.png);
    }
    &.run {
      background-image: url(https://66.media.tumblr.com/4ff9a932e9ba9b4736ddc63fae12b4fb/tumblr_odqay8HODs1vgs7gco1_75sq.png);
    }
    &.log-off {
      background-image: url(https://66.media.tumblr.com/1439f4d5c4bd20dcf6b98916a7cfb24e/tumblr_odqaag4zd41vgs7gco6_75sq.png);
    }
    &.shut-down {
      background-image: url(https://66.media.tumblr.com/1f29d811f6e2bb3f8fbe912057fc6e58/tumblr_odqaag4zd41vgs7gco10_75sq.png);
    }
    
  }

  li:hover {
    background-color: #000184;
    color: white;
    cursor: pointer;
  }

  hr {
    border-top: 1px solid var(--hr-color);
    width: 100%;
  }

}

.start-button, .start-button-active {
  background: url(https://win98icons.alexmeub.com/icons/png/windows-0.png) no-repeat 2px center / 24px;
  padding-left: 28px;
  padding-right: 5px;
  height: 29px;
  margin: 2px 3px;
  font-weight: bold;
  border: 2px solid var(--border-color);
  border-top-color: var(--border-accent);
  border-left-color: var(--border-accent);

  transition: all ease .1s;
}

.start-button-active {
  border: 2px solid var(--border-accent);
  border-top-color: var(--border-color);
  border-left-color: var(--border-color);
}

.start-button:hover {
  background-color: var(--button-hover-background);
}

.footer-icon {
  width: 28px;
  height: 24px;
  border: none;
  margin-top: 3px;
  margin: 1px 1px;
}

.footer-icon:active {
  border: 2px solid var(--border-accent);
  border-top-color: var(--border-color);
  border-left-color: var(--border-color);
  transition: all ease-out .1s;
}

.credit {
  height: 25px;
  margin: 0 3px;
  font-weight: bold;
  background: #ededed;
  border: 2px solid var(--border-color);
  border-bottom-color: var(--border-accent);
  border-right-color: var(--border-accent);

  transition: all ease .1s;
}



.notes {
  background: url(https://win98icons.alexmeub.com/icons/png/notepad-0.png) no-repeat center center / 18px;
}

.folder {
  background: url(https://win98icons.alexmeub.com/icons/png/directory_closed_cool-0.png) no-repeat center center / 18px;
}

.msn {
  background: url(https://win98icons.alexmeub.com/icons/png/msn3-1.png)no-repeat center center / 18px;
}



.footer-left {
  display: flex;
  align-items: center;
  float: left;
  padding: 0 5px;

  .footer-hr {
    margin: 0 .3rem;
    display: flex;
    width: 1px;
    height: 20px;
    margin-top: 2px;
    background: var(--hr-color);
    border-right: 1px solid var(--border-accent);
  
}
}

.footer-right {
  display: flex;
  align-items: center;
  float: right;
}

.footer-right > p {
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: end;
}


.time {
  width: 70px;
  padding: 4px 6px;
  margin: 5px;
  border: 2px solid var(--border-color);
  border-bottom-color: var(--border-accent);
  border-right-color: var(--border-accent);
}

.pop-up-window {
  border: 2px solid var(--border-color);
  border-top-color: var(--border-accent);
  border-bottom-color: #131313;
  border-left-color: var(--border-accent);
  background: var(--window-background);
  width: 80%;
  max-width: 1500px;
  position: relative;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  resize: both;
  max-height: 80vh;
  z-index: 800;
}

.pop-up-window.minimize {
  width: 40%;
  bottom: 0;
  padding: .2rem 0;
}



.window-toolbar{
  background: var(--window-toolbar-background);
  color: var(--window-text);
  padding: 10px 5px;
  font-weight: 500;
  font-size:  1rem;
  cursor: grab;
}

.window-toolbar:active {
  cursor: grabbing;
}

.toolbar-buttons{
  position: absolute;
  padding: 2px;
  right: 4px;
  top: 2px;
}
  
.toolbar-button {
  background: no-repeat center var(--toolbar-button-background);
  border: 2px solid var(--border-color);
  border-top-color: var(--border-accent);
  border-left-color: var(--border-accent);
  height: 22px;
  width: 22px;
  float: right;
  margin-top: 4px;
  margin-left: 4px;

  transition: var(--transition-speed);
}

.toolbar-button:active {
  border: 2px solid var(--border-accent);
  border-top-color: var(--border-color);
  border-left-color: var(--border-color);
}
.toolbar-button:hover {
  background-color: var(--toolbar-button-hover-background);
}
.min::after {
  content: "";
	display: block;
	position: absolute;
	bottom: 6px;
	left: 10px;
	width: 13px;
	height: 2px;
	background: black;

}


.max::after {
  content: "";
	display: block;
	position: absolute;
	top: 11px;
	left: 36px;
	width: 12px;
	height: 10px;
	border: 1px solid black;
	border-top-width: 2px;
}

.close::before, .close::after {
  transform-origin: center center;
	content: "";
	display: block;
	position: absolute;
	top: 48%;
	left: 85%;
	margin-top: -4px;
	margin-left: -1px;
	width: 1.8px;
	height: 14px;
	background:black;
}

.close::before {
    transform: rotateZ(-45deg);
}

.close:after {
  transform: rotateZ(45deg);
}

ul {
  display: flex;
  padding: 1px 0;
  margin: 0;
}

.welcome {
  cursor: pointer;
  list-style: none;
  display: block;
	padding: 4px 6px 5px;
	color: black;
	text-decoration: none;
}

.welcome::first-letter {
  text-decoration: underline;
}

.window-content {
  display: flex;
  justify-content: center;
  margin: auto;
  max-height: 60vh;
  width: 96%;
  box-shadow: inset -1px -1px 0 0 #fff, inset 1px 1px 0 0 rgb(150, 150, 150), inset -2px -2px 0 0 rgb(174, 174, 174), inset 2px 2px 0 0 rgb(48, 48, 48);
  background: var(--window-content-background);
	padding: 5px;
  overflow-x: none;
  overflow-y: auto;
}

.window-pages {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2px 0;
}

.window-action {
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-top-color: var(--border-accent);
  border-left-color: var(--border-accent);
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0 0 black, inset 1px 1px 0 0 var(--border-accent);
  width: 75px;
  padding: 5px 0;
  float: right;
  margin: 5px;

  transition: var(--transition-speed);
}

.window-action:active {
  border: 2px solid var(--border-accent);
  border-top-color: var(--border-color);
  border-left-color: var(--border-color);
  box-shadow: inset -1px -1px 0 0 rgb(255, 255, 255);
}

.window-action:hover {
  background: #d5d5d5;
}

.link-tab {
  font-size:  1rem;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.pfp {
  margin: 1rem;
  width: 400px;
  height: auto;
  border-radius: 50%;
  border: 4px solid var(--border-color);
  border-top-color: #bebdbd;
  border-left-color: #bebdbd;

}

@media screen and (min-width: 1501px){.pfp {width: 470px; height: 470px;}}
@media screen and (max-width: 1500px){.pfp {width: 400px; height: 400px;}}
@media screen and (max-width: 1200px){.pfp {width: 300px; height: 300px;}}
@media screen and (max-width: 950px){.pfp {width: 310px; height: 310px;}}
@media screen and (max-width: 750px){.pfp {width: 280px; height: 280px;}}
@media screen and (max-width: 650px){.pfp {width: 220px; height: 220px;}}
@media screen and (max-width: 450px){.pfp {width: 170px; height: 170px;}}



.home-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.home-icons {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.home-welcome > p {
  font-weight: 600;
}

@media screen and (min-width: 951px) {.home-wrapper {align-items: center;}}
@media screen and (max-width: 950px) {.home-wrapper {justify-content: center;}}

@media screen and (min-width: 1201px){
  .home-welcome > h2 {font-size: 1.9rem;}
  .home-welcome > h3 {font-size: 1.3rem;}
  .home-welcome > h4 {font-size: 1.5rem;}
  .label {font-size: 1.6rem;}
  .about > h2, .project-text > h2 {font-size: 2rem; margin-top: 0;}
  .contact-wrapper > h2 {font-size: 1.2rem;}
  .about > p,.tech > a, .hobbies > li, .project-text > p, .project-links, .window-action {font-size: 1.1rem;}
  .window-content {height: 69vh;}
  .window-action {font-size: 1rem; width: 90px;}
}

@media screen and (max-width: 1200px){
  .home-welcome > h2 {font-size: 1.7rem;}
  .home-welcome > h3 {font-size: 1rem;}
  .home-welcome > h4 {font-size: 1.1rem;}
  .label {font-size: 1.5rem;}
  .about > h2, .project-text > h2 {font-size: 1.4rem;}
  .contact-wrapper > h2 {font-size: 1.2rem;}
  .window-action {font-size: 1rem; width: 90px;}
  .about > p, .tech > a, .home-welcome > p, .hobbies > li, .project-text > p, .project-links, .window-action {font-size: .9rem;}
}

@media screen and (max-width: 950px){
  .home-welcome > h2 {font-size: 1.8rem;}
  .home-welcome > h3 {font-size: 1rem;}
  .home-welcome > h4 {font-size: 1.2rem;}
  .home-wrapper {gap: 1rem; width: 90%;}
  .home-welcome > h2 {text-align: center;}
  .home-welcome > h3 {text-align: center;}
  .home-welcome > h4 {text-align: center;}
  .home-welcome > p {text-align: center;}
  .window-content {height: 72vh;}
  .label {font-size: 1.3rem;}
  .about > p, .tech > a, .home-welcome > p, .hobbies > li, .project-text > p, .project-links, .window-action {font-size: .9rem;}
}


@media screen and (max-width: 750px){
  .window-content {height: 60vh;}
  .home-welcome > h2 {font-size: 1.3rem;}
  .home-welcome > h3 {font-size: .95rem;}
  .home-welcome > h4 {font-size: .9rem;}
  .home-wrapper {gap: 0;}
  .label {font-size: 1.1rem;}
  .about > h2, .project-text > h2, .contact-wrapper > h2  {font-size: 1.3rem;}
  .about > p, .tech > a, .home-welcome > p, .hobbies > li, .project-text > p, .project-links, .window-action {font-size: .7rem;}
}

@media screen and (max-width: 650px){
  .home-welcome > h2 {font-size: 1.3rem;}
  .home-welcome > h3 {font-size: .95rem;}
  .home-welcome > h4 {font-size: .9rem;}
  .home-wrapper {gap: 0;}
  .label {font-size: 1.1rem;}
  .about > h2, .project-text > h2, .contact-wrapper > h2 {font-size: .8rem;}
  .about > p, .tech > a, .home-welcome > p, .hobbies > li, .project-text > p, .project-links, {font-size: .7rem;}
  .footer-right > p, .window-action {font-size: .6rem;}
  .window-action {width: 60px;}
}

@media screen and (max-width: 450px){
  .home-welcome > h2 {font-size: 1rem;}
  .home-welcome > h3 {font-size: .7rem;}
  .home-welcome > h4 {font-size: .8rem;}
  .home-wrapper {gap: 0;}
  .window-content {height: 60vh;}
  .link-tab {font-size: .8rem;}
  ::-webkit-scrollbar {width: 12px;}
  .footer-right > .footer-rights {display: none;}
  .window-action {font-size: .5rem; width: 50px}
  
}

@media screen and (max-width: 350px){
  .home-welcome > h2 {font-size: .8.5rem;}
  .home-welcome > h3 {font-size: .7rem;}
  .home-welcome > h4 {font-size: .8rem;}
  .home-wrapper {gap: 0;}
  .window-content {height: 50vh;}
  .link-tab {font-size: .7rem;}
  .footer-right > p {display: none;}
  .window-action {width: 42px; font-size: .4rem;}
  
}

.about-container {
  padding-top: 1.5rem;
}


.about > p {
  margin: auto;
  margin: 2rem auto 3rem;
  width: 85%;
}

.tech > a {
  display: flex;
  gap: .5rem;

}

.tech {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 1rem auto;
}

.tech > a, .form-button {
  padding: 0.3rem;
  border: 2px solid var(--border-color);
  border-top-color: var(--border-accent);;
  border-left-color: var(--border-accent);;
  transition: all ease var(--transition-speed);
}

.tech > a:hover, .form-button:hover {
  background-color: #efefef;
}

.tech > a:active, .form-button:active {
  border: 2px solid var(--border-accent);;
  border-top-color: var(--border-color);
  border-left-color: var(--border-color);
}

.special, .about, .hobbies > li, 
.project-text > p, .project-text > h2, 
.contact-wrapper > h2, .link-tab, .window-action {
  text-align: center;
}

.hobbies {
  margin: auto;
  max-width: 800px;;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0 3rem;
}

.hobbies > li {
  width: 180px;
  list-style: none;
}

.card-container { 
  padding-bottom: 3rem;
}

.project-card {
  width: 96%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  gap: 1rem;

}


.project-img, video {
  background-size: cover;
  background-position: center center;
  position: relative;
  border: 3px solid var(--border-color);
  border-bottom-color: var(--border-accent);;
  border-right-color: var(--border-accent);;
  
}

.project-text {
  width: 80%;
  margin: auto;
}

.project-links {
  padding-top: 1rem;
  display: flex;
  margin: auto;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding-bottom: 3rem;
}

.contact-wrapper > h2 {
  margin: 0 auto;
  max-width: 500px;
}

.message-container {
  width: 80%;
  max-width: 400px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
  padding-bottom: 10%;
}

.label {
  padding-top: 1rem;
  padding-bottom: .2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form > input, textarea {
  padding: .5rem;
  border: 2px solid var(--border-color);
  border-top-color: var(--border-accent);;
  border-left-color: var(--border-accent);;
  transition: all ease var(--transition-speed);
}


.form-input {
  display: flex;
  width: 100%;
}

.form-text {
  width: 100%;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  background: #d3d3d3;
  width: 100%;
}



@media screen and (min-width: 1501px){.project-img, video {width: 620px; height: 600px;} .project-card {gap: 5rem;} .project-title {font-size: 2.8rem;} .project-text {font-size: 1.3rem;} .contact-wrapper > h2 {padding-top: 5%;} form > input {font-size: larger;}}
@media screen and (max-width: 1500px){.project-img, video {width: 500px; height: 500px;} .project-card {gap: 2.5rem;}.project-title {font-size: 2.2rem;} .project-text {font-size: 1rem;} .contact-wrapper > h2 {padding-top: 5%;} form > input {font-size: larger;}}
@media screen and (max-width: 1200px){.project-img, video {width: 410px; height: 390px;} .project-card {gap: 1.5rem;} .project-title {font-size: 1.5rem; } .project-text {font-size: .8rem;} .contact-wrapper > h2 {padding-top: 5%;}}
@media screen and (max-width: 1000px){.project-card {flex-wrap: wrap; justify-content: center; padding: .2rem; padding-top: 1rem; margin: auto;} .project-text {font-size: 1.1rem;} .contact-wrapper > h2 {padding-top: 1rem; width: 70%;}}
@media screen and (max-width: 950px){.project-card {flex-wrap: wrap; justify-content: center; padding: .2rem; padding-top: 1rem; margin: auto;} .project-text {font-size: 1.1rem;} .contact-wrapper > h2 {padding-top: 1rem; width: 70%;}}
@media screen and (max-width: 800px){.project-img, video {width: 400px; height: 380px;} form > input {font-size: medium;}}
@media screen and (max-width: 650px){.project-img, video {width: 320px; height: 300px;}}
@media screen and (max-width: 605px){.project-img, video {width: 280px; height: 260px;} .contact-wrapper > h2 {width: 60%;}}
@media screen and (max-width: 400px){.project-img, video {width: 220px; height: 200px;} form > input {font-size: small; padding: .2rem} .contact-wrapper > h2 {width: 85%;}}



/* loading splash screen */

.splash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:#dd77db;
  background-image:
  radial-gradient(at 9% 4%, #ffbdbd 0px, transparent 50%),
  radial-gradient(at 3% 16%, #a57fac 0px, transparent 50%),
  radial-gradient(at 78% 88%, #5d74ba 0px, transparent 50%),
  radial-gradient(at 35% 59%, #f06cd6 0px, transparent 50%),
  radial-gradient(at 81% 60%, #ea94b2 0px, transparent 50%),
  radial-gradient(at 97% 11%, #9d73ba 0px, transparent 50%),
  radial-gradient(at 83% 10%, #eb84d8 0px, transparent 50%);z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-container h2 {
  font-size: 2rem;
  font-family: monospace;
  color: #2f1224;
  letter-spacing: 3px;
  padding: 0;
  text-align: center;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 10em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 4000ms infinite linear;
  -moz-animation: spinner 4000ms infinite linear;
  -ms-animation: spinner 4000ms infinite linear;
  -o-animation: spinner 4000ms infinite linear;
  animation: spinner 4000ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgb(2, 22, 109) 1.5em 0 0 0, rgb(5, 42, 154) 1.1em 1.1em 0 0, rgb(41, 34, 121) 0 1.5em 0 0, rgb(22, 8, 64) -1.1em 1.1em 0 0, rgb(61, 9, 96) -1.5em 0 0 0, rgb(98, 45, 136) -1.1em -1.1em 0 0, rgb(112, 11, 122) 0 -1.5em 0 0, rgb(72, 2, 73) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
