/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Special+Elite&family=VT323&display=swap');

/* font-family: 'Luckiest Guy', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'VT323', monospace; */
body {
  font-family: monospace;
  margin: 0;
  background-color:#99a0ff;
  background-image:
  radial-gradient(at 9% 4%, hsla(307,66%,62%,1) 0px, transparent 50%),
  radial-gradient(at 3% 16%, hsla(74,94%,69%,1) 0px, transparent 50%),
  radial-gradient(at 78% 88%, hsla(145,93%,79%,1) 0px, transparent 50%),
  radial-gradient(at 35% 59%, hsla(353,86%,77%,1) 0px, transparent 50%),
  radial-gradient(at 81% 60%, hsla(152,69%,73%,1) 0px, transparent 50%),
  radial-gradient(at 97% 11%, hsla(187,88%,65%,1) 0px, transparent 50%),
  radial-gradient(at 83% 10%, hsla(304,70%,74%,1) 0px, transparent 50%);
  background-attachment: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app {
  padding-bottom: 3rem;
}

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: .2rem 0;
  background-color: #e2e2e2;

}

.start-button {
  background: url(https://win98icons.alexmeub.com/icons/png/windows-0.png) no-repeat 2px center / 24px;
  padding-left: 28px;
  padding-right: 5px;
  height: 29px;
  margin: 2px 3px;
  font-weight: bold;
  border: 2px solid #7c7c7c;
  border-top-color: #fff;
  border-left-color: #fff;

  transition: all ease .1s;
}

.start-button:active {
  border: 2px solid #fff;
  border-top-color: #7c7c7c;
  border-left-color: #7c7c7c;
}

.start-button:hover {
  background-color: #f5f5f5;;
}

.footer-icon {
  width: 28px;
  height: 24px;
  border: none;
  margin-top: 3px;
  margin: 1px 1px;

    
}

.footer-icon:active {
  border: 2px solid #fff;
  border-top-color: #7c7c7c;
  border-left-color: #7c7c7c;
  transition: all ease-out .1s;
}



.notes {
  background: url(https://win98icons.alexmeub.com/icons/png/notepad-0.png) no-repeat center center / 18px;
}

.folder {
  background: url(https://win98icons.alexmeub.com/icons/png/directory_closed_cool-0.png) no-repeat center center / 18px;
}

.msn {
  background: url(https://win98icons.alexmeub.com/icons/png/msn3-1.png)no-repeat center center / 18px;
}


hr {
    margin: 0 .3rem;
    display: flex;
    width: 1px;
    height: 20px;
    margin-top: 2px;
    background: #797979;
    border-right: 1px solid #fff;
  
}

.footer-left {
  float: left;
  padding: 0 5px;
}



.time {
  position: absolute;
  right: 5px;
  bottom: 6px;
  padding: 4px 6px;
  border: 2px solid #7c7c7c;
  border-bottom-color: #fff;
  border-right-color: #fff;
}

.pop-up-window {
  border: 2px solid #7c7c7c;
  border-top-color: #fff;
  border-bottom-color: #131313;
  border-left-color: #fff;
  padding-bottom: 2.5rem;
  background: #c0c0c0;
  width: 90%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  resize: both;
}


.window-toolbar{
  background: #002b66;
  color: #fff;
  padding: 10px 5px;
  font-weight: 500;
  font-size:  1rem;
}

.toolbar-buttons{
  position: absolute;
  right: 2px;
  top: 2px;
}
  
.toolbar-button{
  background: no-repeat center #ccc;
  border: 2px solid #7c7c7c;
  border-top-color: #fff;
  border-left-color: #fff;
  height: 22px;
  width: 22px;
  float: right;
  margin-top: 4px;
  margin-left: 2px;

  transition: all ease-in-out .1s;
}

.toolbar-button:active {
  border: 2px solid #fff;
  border-top-color: #7c7c7c;
  border-left-color: #7c7c7c;
}

.toolbar-button:hover {
  background-color: #e0e0e0;
}


.min::after {
  content: "";
	display: block;
	position: absolute;
	bottom: 3px;
	left: 8px;
	width: 13px;
	height: 2px;
	background: black;

}

.max::after {
  content: "";
	display: block;
	position: absolute;
	top: 11px;
	left: 36px;
	width: 12px;
	height: 10px;
	border: 1px solid black;
	border-top-width: 2px;
}

.close::before, .close::after {
  transform-origin: center center;
	content: "";
	display: block;
	position: absolute;
	top: 48%;
	left: 85%;
	margin-top: -4px;
	margin-left: -1px;
	width: 1.8px;
	height: 14px;
	background:black;
}

.close::before {
    transform: rotateZ(-45deg);
}

.close:after {
  transform: rotateZ(45deg);
}

ul {
  display: flex;
  padding: 1px 0;
  margin: 0;
}

.welcome {
  cursor: pointer;
  list-style: none;
  display: block;
	padding: 4px 6px 5px;
	color: black;
	text-decoration: none;
}

.welcome::first-letter {
  text-decoration: underline;
}

.window-content {
  margin: auto;
  width: 96%;
  box-shadow: inset -1px -1px 0 0 #fff, inset 1px 1px 0 0 rgb(150, 150, 150), inset -2px -2px 0 0 rgb(174, 174, 174), inset 2px 2px 0 0 rgb(48, 48, 48);
  background: #dddddd;
	padding: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (min-width: 1201px){.window-content {height: 430px;}}
@media screen and (max-width: 1200px){.window-content {height: 400px;}}
@media screen and (max-width: 900px){.window-content {height: 370px;}}
@media screen and (max-width: 730px){.window-content {height: 350px;}}
@media screen and (max-width: 540px){.window-content {height: 400px;}}



.window-action {
  cursor: pointer;
  border: 1px solid #7c7c7c;
  border-top-color: #fff;
  border-left-color: #fff;
  background: #c0c0c0;
  box-shadow: inset -1px -1px 0 0 black, inset 1px 1px 0 0 #fff;
  width: 75px;
  font-size: .9rem;
  text-align: center;
  padding: 5px 0;
  float: right;
  margin: 5px;

  transition: all ease-in-out .1s;
}

.window-action:active {
  border: 2px solid #fff;
  border-top-color: #7c7c7c;
  border-left-color: #7c7c7c;
  box-shadow: inset -1px -1px 0 0 rgb(255, 255, 255);
}

.window-action:hover {
  background: #d5d5d5;
}

@media screen and (max-width: 540px){.window-action {margin-top: 10px; width: 50px; font-size: .5rem;}}

.link-tab {
  font-size:  1rem;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.pfp {
  margin: 1rem 0 1rem 1rem;;
  width: 400px;
  height: auto;
  border-radius: 50%;
}

@media screen and (max-width: 1200px){.pfp {width: 350px; height: 350px;}}
@media screen and (max-width: 900px){.pfp {width: 300px; height: 300px;}}
@media screen and (max-width: 730px){.pfp {width: 250px; height: 250px;}}
@media screen and (max-width: 650px){.pfp {width: 220px; height: 220px;}}
@media screen and (max-width: 540px){.pfp {width: 190px; height: 190px;}}



.home-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.home-icons {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

@media screen and (max-width: 571px) {.home-wrapper {justify-content: center;}}

@media screen and (min-width: 1201px){
  .home-welcome > h2 {font-size: 1.7rem;}
  .home-welcome > h3 {font-size: 1.3rem;}
  .home-welcome > h4 {font-size: 1.1rem;}
  .label {font-size: 1.6rem;}
  .about-title {font-size: 1.5rem;}
  .about-text, .hobby-text {font-size: 1.2rem;}
}

@media screen and (max-width: 1200px){
  .home-welcome > h2 {font-size: 1.4rem;}
  .home-welcome > h3 {font-size: 1.1rem;}
  .home-welcome > h4 {font-size: 1rem;}
  .label {font-size: 1.5rem;}
  .about-title {font-size: 1.3rem;}
  .about-text, .hobby-text {font-size: 1rem;}
}

@media screen and (max-width: 920px){
  .home-welcome > h2 {font-size: .9rem;}
  .home-welcome > h3 {font-size: .8rem;}
  .home-welcome > h4 {font-size: .7rem;}
  .label {font-size: 1.3rem;}
  .about-text, .hobby-text {font-size: .9rem;}
}

@media screen and (max-width: 650px){
  .home-welcome > h2 {font-size: .8rem;}
  .home-welcome > h3 {font-size: .7rem;}
  .home-welcome > h4 {font-size: .6rem;}
  .label {font-size: 1.1rem;}
  .about-title {font-size: .8rem;}
  .about-text, .hobby-text {font-size: .7rem;}
}

@media screen and (max-width: 540px){
  .home-welcome > h2 {text-align: center;}
  .home-welcome > h3 {text-align: center;}
  .home-welcome > h4 {text-align: center;}
}


.about-title {
  text-align: center;
  margin-top: 2rem;
}

.about-text, .tech {
  margin: 2rem;
}

.tech {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.about-tech {
  padding: .3rem;
  border: 2px solid #7c7c7c;
  border-top-color: #fff;
  border-left-color: #fff;

  transition: all ease .1s;
}

.about-tech:hover {
  background-color: #efefef;
}

.about-tech:active {
  border: 2px solid #fff;
  border-top-color: #7c7c7c;
  border-left-color: #7c7c7c;
}

.special {
  text-align: center;
}

.hobbies {
  margin: auto;
  max-width: 800px;;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0 3rem;
}

.hobby-text {
  width: 180px;
  text-align: center;
  list-style: none;
}

.card-container { 
  padding-bottom: 3rem;
}

.project-card {
  width: 96%;
  margin: auto;
  justify-content: center;
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 730px){.project-card {flex-wrap: wrap; justify-content: center; padding: .2rem; padding-top: 1rem; margin: auto;} .project-title {text-align: center;}}

.project-img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}


@media screen and (max-width: 400px){.project-img {width: 270px; height: 250px;}}

.project-text {
  max-width: 300px;
}

.project-links {
  padding-top: 3.5rem;
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

.message-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.label {
  padding-top: 1rem;
  padding-bottom: .2rem;
}


.form-input {
  display: flex;
  width: 200px;
}

.form-text {
  width: 202px;
}

.form-button {
  margin-top: 1rem;
}
